/**
 * @name Custom Home Icon
 * @author Dra_Vietnamese
 * @version 1.0.0
 * @description bantumlum
 * @source https://dsc.gg/wrc
 * @website https://dsc.gg/wrc
 * @invite NyVtBKTa5h
*/

@import url('https://clearvision.github.io/ClearVision-v6/main.css');

:root {
  --home-icon: url('https://cdn.discordapp.com/attachments/1075738861566689280/1165304872590118993/discord.png?ex=65465dbb&is=6533e8bb&hm=a284b73dc49870c28d50fd718fb6b1f6a5aa5322dd6008306910674ea8155291&');
  --home-position: center;
  --home-size: 60px;
}
